- if request.user_agent =~ /iPhone/
  .columns
    .column1
      = "one"

    .column2
      ="two"
- else
  .columns
    .column1
      = "one"
  
    .column2
      ="two"
    
    .column3
      = "three"