body
  font-size: 140%
  width: 768px
  margin: auto
  border: 1px solid red

h1
  text-align: center

.columns
  width: 768px
  position: relative

  .column1
    width: 236px
    margin: 10px
    background: silver
    position: absolute
    left: 0

  .column2
    width: 236px
    margin: 10px
    background: silver
    position: absolute
    left: 256px

  .column3
    width: 236px
    margin: 10px
    background: silver
    position: absolute
    left: 512px