@import "layout"

body
  font-size: 140%
  width: 1024px
  margin: 0 auto
  padding: 0

header
  display: block
  background: black

h1
  padding: 1em 0
  margin-top: 0
  text-align: center
  background: rgba(0,0,0,.2) -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E2E2E2), to(#A1A1A1), color-stop(.49,#A1A1A1),color-stop(.5,#9C9C9C))

  color: white
  -webkit-border-top-left-radius: 8px
  -webkit-border-top-right-radius: 8px
  -webkit-box-shadow: rgba(255,255,255,.2) 0 1px 0
  text-shadow: rgba(0,0,0,.6) 0 -1px 0
  border-top: 1px solid rgba(255,255,255,.6)
  border-bottom: 1px solid rgba(0,0,0,.6)

.columns
  width: 1023px
  position: relative

  .column1
    width: 321px
    padding: 0 10px
    border-right: 1px solid #EEEEEE
    position: absolute
    left: 0

  .column2
    width: 321px
    padding: 0 10px
    border-right: 1px solid #EEEEEE
    position: absolute
    left: 341px
  
  .column3
    width: 321px
    padding: 0 10px
    position: absolute
    left: 682px