@import "layout"

body
  font-size: 140%
  width: 768px
  margin: auto

h1
  text-align: center

.columns
  width: 768px
  position: relative

  .column1
    width: 236px
    padding: 0 10px
    border-right: 1px solid #EEEEEE
    position: absolute
    left: 0

  .column2
    width: 236px
    padding: 0 10px
    border-right: 1px solid #EEEEEE
    position: absolute
    left: 256px

  .column3
    width: 236px
    padding: 0 10px
    position: absolute
    left: 512px