body
  font-size: 140%
  width: 1024px
  margin: auto

h1
  text-align: center

.columns
  width: 1023px
  position: relative

  .column1
    width: 321px
    margin: 10px
    background: silver
    position: absolute
    left: 0

  .column2
    width: 321px
    margin: 10px
    background: silver
    position: absolute
    left: 341px
  
  .column3
    width: 321px
    margin: 10px
    background: silver
    position: absolute
    left: 682px