@import "layout"

body
  font-size: 110%
  width: 320px
  margin: auto

header
  display: block
  background: black

h1
  padding: 1em 0
  margin-top: 0
  font-size: 1em
  text-align: center
  background: rgba(0,0,0,.2) -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E2E2E2), to(#A1A1A1), color-stop(.49,#A1A1A1),color-stop(.5,#9C9C9C))
  color: white
  -webkit-border-top-left-radius: 8px
  -webkit-border-top-right-radius: 8px
  -webkit-box-shadow: rgba(255,255,255,.2) 0 1px 0
  text-shadow: rgba(0,0,0,.6) 0 -1px 0
  border-top: 1px solid rgba(255,255,255,.6)
  border-bottom: 1px solid rgba(0,0,0,.6)
    
.columns
  width: 320px
  position: relative
    
  .column1
    width: 300px
    padding: 0 10px
    border-right: 1px solid #EEEEEE
    
  .column2
    width: 300px
    padding: 0 10px