body
  width: 320px
  margin: auto
  border: 1px solid black

h1
  text-align: center

.columns
  width: 320px
  position: relative
    
  .column1
    width: 140px
    margin: 10px
    background: silver
    position: absolute
    left: 0
    
  .column2
    width: 140px
    margin: 10px
    background: silver
    position: absolute
    left: 160px