@import "layout"

body
  font-size: 140%
  width: 480px
  margin: auto
  
h1
  font-size: 120%
  text-align: center

.columns
  width: 480px
  position: relative
    
  .column1
    width: 220px
    padding: 0 10px
    border-right: 1px solid #EEEEEE
    position: absolute
    top: 0
    left: 0
    
  .column2
    width: 220px
    padding: 0 10px
    position: absolute
    top: 0
    left: 240px