body
  font-family: Helvetica, Arial, sans-serif

h1
  a
    color: white
  a:hover
    text-decoration: underline

a
  text-decoration: none

a:hover
  text-decoration: underline

.deposit
  padding: 1em 0
  min-height: 200px
  font-size: 14pt
  border-bottom: 1pt solid #333

  a.link
    font-weight: bold

  .label
    display: inline
  .tags, .sources
    padding-top: 0.5em

  .header
    padding-top: 1em

  ul
    &.tags, &.sources  
      padding-left: 0
      display: inline

    li
      &.tag, &.source   
        list-style: none
        display: inline
    
    li.source
      font-style: italic