body
  font-family: Helvetica, Arial, sans-serif

.deposit
  padding: 1em
  border: 1pt solid #ccc
  margin: 1em 0
  -webkit-column-break-inside: avoid  

  .department
    font-weight: bold

  .description
    font-size: larger

  .lords-library
    font-weight: bold
    color: crimson

  .commons-library
    font-weight: bold
    color: green    

  footer
    float: right

