!!! 5
%html{:manifest => "/cache.manifest"}  
  %head
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
      %title= "Deposited Papers"
      - if request.user_agent =~ /iPhone|iPad/
        %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}
        %meta{:name => "viewport", :content => "width=device-width, maximum-scale=1.0"}
        %link{:rel=>"stylesheet",:type=>"text/css",:media=>"all and (orientation:portrait)", :href=>"/portrait.css"}
        %link{:rel=>"stylesheet",:type=>"text/css",:media=>"all and (orientation:landscape)", :href=>"/landscape.css"}
        
        %script{:type => "text/javascript", :src => "/scripts/iscroll.js"}
        %script{:type => "text/javascript"}
          var myScroll;
          
          function setHeight() {
          var subheaderH = document.getElementById('page_heading').offsetHeight;
          var footerH = document.getElementById('toolbar').offsetHeight;
          
          if (window.innerHeight < 300) {
          document.getElementById('header').style.display = 'none';
          var wrapperH = window.innerHeight - footerH;
          } else {
          document.getElementById('header').style.display = 'block';
          var headerH = document.getElementById('header').offsetHeight;
          if (navigator.userAgent.indexOf('iPhone') > -1) {
          var wrapperH = window.innerHeight - headerH - footerH;
          } else {
          var wrapperH = window.innerHeight - headerH - subheaderH - footerH;
          }
          }
          
          document.getElementById('content').style.height = wrapperH + 'px';
          }
          
          function loaded() {
          setHeight();

          myScroll = new iScroll('scroller', { vScrollbar: true });
          }
          window.addEventListener('onorientationchange' in window ? 'orientationchange' : 'resize', setHeight, false);
          document.addEventListener('touchmove', function(e){ e.preventDefault(); }, false);
          document.addEventListener('DOMContentLoaded', loaded);
        
      - else
      
        %link{:rel=>"stylesheet",:type=>"text/css",:media=>"screen and (max-device-width: 480px)",:href=>"/mobile.css"}
        %link{:rel=>"stylesheet",:type=>"text/css",:media=>"screen and (min-device-width: 481px)",:href=>"/styles.css"}
      
  %body
    %header#header
      %h1 Deposited Papers
    
    #main_page
      =yield