body
  font-family: Helvetica, Arial, sans-serif

.deposit
  padding: 1em
  margin: 1em 0
  display: block

  .department
    font-weight: bold

  .description
    font-size: larger

  .lords-library
    font-weight: bold
    color: crimson

  .commons-library
    font-weight: bold
    color: green    

  footer
    float: right

