body
  font-family: Helvetica, sans-serif
  line-height: 140%
  width: 500px
  margin: auto
  
h2
  font-size: 110%
  
h3
  font-size: 105%
  margin-bottom: 0.1em

.deposited_paper
  margin-bottom: 1em
    
  .legislature
    margin-left: 2em
    
  .description
    padding: 0.5em 0