@import "layout"

body
  line-height: 140%
  padding: 0
  margin: 0
  
h1
  text-align: center

h2
  font-size: 110%
  
h3
  font-size: 105%
  margin-bottom: 0.1em
  
header#header
  width: 100%
  position: relative

  h1 
    a
      color: black

#main_page
  width: 702px
  margin: 0 auto
  
  #copyright
    position: relative
  
  #content
    float: left
    width: 702px
  
    .column1
      width: 210px
      padding: 0 10px
      border-right: 1px solid #EEEEEE
      float: left

    .column2
      width: 210px
      padding: 0 10px
      border-right: 1px solid #EEEEEE
      float: left

    .column3
      width: 210px
      padding: 0 10px
      float: left