@import "layout"

body
  line-height: 140%
  padding: 0
  margin: 0
  
h1
  text-align: center

h2
  font-size: 110%
  text-align: center
  
h3
  font-size: 105%
  margin-bottom: 0.1em
  
header#header
  width: 100%
  position: relative

  h1 
    a
      color: black

#main_page
  width: 750px
  margin: 0 auto
  
  .deposit
    font-size: 12pt
  
  #copyright
    position: relative
    color: #777
    background-color: #fff
    
    a
      padding-left: 2em
  
  #content
    float: left
    width: 750px
  
    .column1
      width: 229px
      padding: 0 10px
      float: left

    .column2
      width: 229px
      padding: 0 10px
      float: left

    .column3
      width: 229px
      padding: 0 10px
      float: left
      
    nav.toolbar
      float: left
      width: 100%
      clear: both
      position: relative
      padding-top: 1em
      
      .next
        float: right
      
      .page_info
        position: absolute
        width: 60%
        margin-left: 20%
        text-align: center
      
      .prev
        float: left